# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Next.js
.next/
out/

# Production
build/

# Misc
.DS_Store
*.pem

# Database
database/data/
backend/database/data/
**/WiredTiger*
**/*.lock
*.log
npm-debug.log*
yarn-debug.log*
ts-debug.log*

# TypeScript
*.tsbuildinfo
next-env.d.ts
